*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* shared style */
.btn1:hover{
    background-color: rgba(252, 124, 107, 0.726);
}
.btn1{
    background-color: rgba(70, 145, 101, 1);
    color: white;
    padding: 12.5px 16px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600px;
    text-align: center;
    border: none;
    cursor: pointer;
    }
    .btn2:hover{
        background-color: rgba(252, 124, 107, 0.726);
    }
.btn2{
    background-color: transparent;
    border: 1px solid white;
    padding: 12.5px 16px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600px;
    color: white;
    cursor: pointer;
}


header{
    /* background-image:url(./Sections/Banner.png); */
    max-width: 1600px;
}
/* nav style */

nav .logo{
    display: flex;
    /* width: 71%; */
    /* max-width: 1600px; */
    justify-content: space-between;
    align-items: center;
    padding: 16px 120px;
    background-color: rgba(255, 255, 255, 1);
}
nav ul{
    list-style: none;
    display: flex;
    gap: 32px;
    align-items: center;
   
}
nav ul a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 500px;
     color: rgba(0, 0, 0, 1);
}

/* hero style */
#banner{

    text-align: center;
    background: url(./assets/hero-bg.png);
    width: 100%;
    max-width: 1450px;
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 70px 120px 134px 120px;
    margin-bottom: 80px;
}

.banner-content .content-title{
    font-size: 16px;
    font-weight: 500px;
    color: green;
    background-color: white;
    width: 229px;
    margin: 0 auto;
    padding: 8px 10px;
    border-radius: 40px;
    margin-bottom: 16px;
}
.banner-content .h1{
    font-size: 72px;
    font-weight: bold;
    color: rgba(255, 255, 255, 1);
}
.banner-content .h11 {
font-size: 72px;
    font-weight: bold;
    color: #30B868;
    margin-bottom: 16px;
}
.banner-content .content-text{
    /* padding: 70px 120px 134px 120px; */
    font-size: 18px;
    weight: 400px;
    color: #FFFFFF;
    line-height: 24px;
    margin-bottom: 32px;
}
.banner-button{
        display: flex;
    justify-content: center;
        gap: 20px;
}

#products .product-container .section-heading{
    text-align: center;
}
#products .product-container .section-heading h2{
font-size: 48px;
font-weight: 700;
margin-bottom: 16px;
}
#products .product-container .section-heading p{
    font-size: 16px;
    font-weight: 400px;
    line-height: 20px;
    color: #627382;
    margin-bottom: 44px;
;
}

#products .product-box {
    display: flex;
     justify-content: space-between;
    align-items: center;
    padding: 24px;
    margin: 0 100px;
    gap: 24px

}
.product-card:hover{
    background-color: antiquewhite;
}
.product-box .product-card{
    width: 330px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 16px;
    padding: 24px;
    border-radius: 8px;
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.13);
}
.product-box .product-card img{
    background: rgba(249, 85, 85, 1);
    border-radius: 50%;
    padding: 14px ;
   width: 60px;
   height: 60px;
   object-fit: cover;
}
.product-box .product-card h2{
    font-size: 24px;
    font-weight: 600px;
    line-height: 29px;
    text-align: center;
    
}
.product-box .product-card p{
    font-size: 16px;
    font-weight: 400px;
    line-height: 20px;
    text-align: center;
    color: #627382;
}
.section4{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    margin: 120px;
}
.section4 .sectoin4-image{
    /* width: 600px;
    height: 600px; */
    border-radius: 12px;
}
.section4 .section4-content{
    /* padding: 80px; */
}
.section4 .section4-content .section4-title{
    font-size: 16px;
    font-weight: 500px;
    line-height: 20px;
    color: #30B868;
    margin-bottom: 16px;
}
.section4 .section4-content h3{
    color: #001931;
    font-style: bold;
    font-weight: 700px;
    font-size: 48px;
    line-height: 58px;
    margin-bottom: 16px;
}
.section4 .section4-content .section4-text{
    color: #627382;
    line-height: 20px;
    weight: 400;
    font-size: 16px;
    text-align: left;
    margin-bottom: 40px;
}
.section4 .section4-content ul{
    list-style: none;
   font-size: 16px;
    font-weight: 500px;
    line-height: 20px;
    display: flex;
    flex-direction: column;
    gap: 16px;

}
.section4 .section4-content ul li{
    font-size: 16px;
    font-weight: 500px;
    line-height: 20px;
    color: #001931;
}
.section4 .section4-content ul i{
    color: #30B868;
}
.section5{
    align-items: center;
    text-align: center;
    margin: 0 120px 120px 120px;
    padding: 80px 40px;
    background-color: #F7F6F2;
    border-radius: 12px;
}
 .section5 div h3{
    font-size: 40px;
    font-weight: bold;
    line-height: 48px;
    color: #001931;
    margin-bottom: 16px;
}
.section5 p{
    font-size: 16px;
    font-weight: 400px;
    line-height: 24px;
    margin-bottom: 24px;
    color: #627382;
}
footer{
    background-color: #001931;
    max-width: 1450px;
    height: 348px;
   
}
.footer-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
     padding: 120px 120px 80px 120px;
    }

    .Social .Social-content h4{
        color: white;
        font-size: 20px;
        font-family: 500px;
        line-height: 28px;
        margin-bottom: 16px;
    }

.Social .social-image{
    color: white;
    text-align: center;
}

hr{
margin: 0 120px;
border: 1px solid  rgba(229, 231, 235, 1));
opacity: 0.2;
}

.copyright{
    color: #FAFAFA;
    text-align: center;
    font-size: 16px;
    font-weight: 400px;
    line-height: 24px;
    margin-top: 30px;
    

    /* margin-bottom: 30px; */
}