*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* shared style */
.btn1{
    background-color: rgba(70, 145, 101, 1);
    color: white;
    padding: 12.5px 16px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600px;
    text-align: center;
    border: none;
}
.btn2{
    background-color: transparent;
    border: 1px solid white;
    padding: 12.5px 16px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600px;
    color: white;

}
header{
    /* background-image:url(./Sections/Banner.png); */
    max-width: 1140px;
}
/* nav style */

nav .logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 120px;
    background-color: rgba(255, 255, 255, 1);
}
nav ul{
    list-style: none;
    display: flex;
    gap: 32px;
    align-items: center;
   
}
nav ul a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 500px;
     color: rgba(0, 0, 0, 1);
}

/* hero style */
#banner{

    text-align: center;
    background: url(./assets/hero-bg.png);
    width: 100%;
    max-width: 1400px;
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 70px 120px 134px 120px;
    margin-bottom: 80px;
}
.banner-content .content-title{
    font-size: 16px;
    font-weight: 500px;
    color: green;
    background-color: white;
    width: 229px;
    margin: 0 auto;
    padding: 8px 12px;
    border-radius: 1000px;
    margin-bottom: 16px;
}
.banner-content .h1{
    font-size: 72px;
    font-weight: bold;
    color: rgba(255, 255, 255, 1);
}
.banner-content .h11 {
font-size: 72px;
    font-weight: bold;
    color: #30B868;
    margin-bottom: 16px;
}
.banner-content .content-text{
    /* padding: 70px 120px 134px 120px; */
    font-size: 18px;
    weight: 400px;
    color: #FFFFFF;
    line-height: 24px;
    margin-bottom: 16px;
}

#products .product-container .section-heading{
    text-align: center;
}
#products .product-container .section-heading h2{
font-size: 48px;
font-weight: 700;
}
#products .product-container .section-heading p{
    font-size: 16px;
    font-weight: 400px;
    line-height: 20px;
    color: #627382;
    margin-bottom: 44px;
;
}

#products .product-box {
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.product-box .product-card{
 width: 320px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    padding: 24px;
    border-radius: 8px;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.13);
}
.product-box .product-card img{
    background: rgba(249, 85, 85, 1);
    border-radius: 50%;
    padding: 14px ;
   width: 60px;
   height: 60px;
   object-fit: cover;
}
.product-box .product-card h2{
    font-size: 24px;
    font-weight: 600px;
    line-height: 29px;
    text-align: center;
}
.product-box .product-card p{
    font-size: 16px;
    font-weight: 400px;
    line-height: 20px;
    text-align: center;
    color: #627382;
}